<launch>

<rosparam file="$(find duckling_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="sw_bd0" args="neck_pitch_position_controller head_pitch_position_controller head_yaw_position_controller head_roll_position_controller r_hip_ie_position_controller l_hip_ie_position_controller r_hip_aa_position_controller l_hip_aa_position_controller r_hip_fe_position_controller l_hip_fe_position_controller r_knee_fe_position_controller l_knee_fe_position_controller r_foot_fe_position_controller l_foot_fe_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/sw_bd0/joint_states"/>
</node>

</launch>